.box {
    font-family: Arial;
    font-size: 40px;
    color: black;
    font-weight: 700;
    width: 100%;
    height: 100%;
    /* display: flex;
    align-items: center;
    justify-content: center; */
    background: #F5F5F5;
    border: 3px solid white; /* Add border to inner boxes */
    cursor: pointer;}

/* Style alternate boxes */
.box:nth-child(odd) {
    font-family: Arial;
    font-size: 40px;
    color: black;
    background: #F5F5F5; /* Make alternate boxes white */
    border: 3px solid white; /* Add border to inner boxes */
}

/* Style for winning squares */
.winningbox {
    color: darkgray; /* Change the color to your preference */
    transition: background-color 0.5s;
    font-size: 40px;
    font-weight: 800;
    border: 3px solid white;
  }
  
